In [1]:
import pandas as pd
import numpy as np
import sys
import os
import pymysql
import math
from sqlalchemy import create_engine
from datetime import datetime, date, timedelta
from matplotlib import pyplot as plt
%matplotlib inline
plt.rcParams['font.sans-serif']=['SimHei']
plt.rcParams['axes.unicode_minus']=True#是否可以显示负号

In [2]:
def reader(query,db='mgo'):
    sql=query
    engine=create_engine("mysql+pymysql://bi:***@47.100.182.67:3306/{0}?charset=utf8".format(db))
    df=pd.read_sql(sql,engine)
    return df

# 1 按天划分扫码转化率

In [3]:
#上海所有乘客订单信息(包含优惠券，订单时间在6月6日后，被sql3左连接了即可排除掉首次订单在6月6日前的)
sql1='''SELECT a.order_sn,a.sku_name,a.sku_id,a.price,a.driver_id,b.user_id,b.user_tel,DATE(a.add_time) update_date,c.`name` FROM mgo_order_info a
JOIN (SELECT * FROM mgo_order WHERE add_time>'2018-06-06') b ON a.order_sn=b.order_sn
LEFT JOIN mgo_coupon c ON b.coupon_seq=c.coupon_seq
WHERE a.driver_id IN (select driver_id from mgo_driver_info where distric_sn in 
(select distric_sn from mgo_city where city_sn = 310100 ))
AND a.`status`=1
AND a.user_tel NOT IN (SELECT mobile FROM mgo_ding_talk_user)
AND a.user_tel NOT IN (SELECT mobile FROM mgo_user_tag WHERE driver_tag=2 AND mobile NOT IN (SELECT tel FROM mgo_driver WHERE checked_time>0))
AND a.user_tel NOT IN (SELECT tel FROM mgo_driver WHERE checked_time>0)
AND DATE(a.add_time)<'2018-07-30' '''
#所有乘客二次扫码信息
sql2='''SELECT DISTINCT a.user_id,a.add_time FROM dim_scan_log a
JOIN (SELECT * FROM mgo_order WHERE `status`=1 AND is_first=1) b
ON a.user_id=b.user_id AND DATE(a.add_time)>DATE(b.update_time)
WHERE DATE(a.add_time)<'2018-07-30' '''
#上海乘客所有扫码信息(首次订单在6月6日后)
sql3='''SELECT a.user_id,DATE(a.add_time) add_date,MIN(a.shelf_sn) shelf_sn FROM dim_scan_log a
JOIN (SELECT * FROM mgo_order WHERE `status`=1 AND is_first=1 AND add_time>'2018-06-06') b
ON a.user_id=b.user_id AND DATE(a.add_time)>=DATE(b.add_time)
WHERE DATE(a.add_time)<'2018-07-30' 
AND a.user_id IN (SELECT user_id FROM mgo_order WHERE user_tel NOT IN (SELECT mobile FROM mgo_ding_talk_user)
AND driver_tel NOT IN   (SELECT mobile FROM mgo_ding_talk_user)
AND user_tel NOT IN (SELECT mobile FROM mgo_user_tag WHERE driver_tag=2 AND mobile NOT IN (SELECT tel FROM mgo_driver WHERE checked_time>0))
AND user_tel NOT IN (SELECT tel FROM mgo_driver WHERE checked_time>0)
AND driver_id IN (select driver_id from mgo_driver_info where distric_sn in 
(select distric_sn from mgo_city where city_sn = 310100 )))
GROUP BY a.user_id,DATE(a.add_time)'''

In [4]:
old_order_info_df=reader(sql1)
scan_df=reader(sql3)

In [5]:
#所有顾客二次扫码购买转化分析

In [6]:
#构建用户日订单表，注意reset_index，之前未加导致merge少了很多
old_order_df=old_order_info_df.groupby(['user_id','update_date']).agg({'order_sn':'count','price':'sum','name':'first'}).reset_index()

In [7]:
scan_order_df=scan_df.merge(old_order_df,left_on=['user_id','add_date'],right_on=['user_id','update_date'],how='left')

In [8]:
#将时间转为int类型
scan_order_df['add_date']=scan_order_df.add_date.map(lambda x:x.strftime('%Y%m%d')).astype('int')

In [9]:
#分组排序
scan_order_df['scan_seq']=scan_order_df.groupby('user_id').add_date.rank(ascending=1,method='first')

In [10]:
scan_order_df['scan_seq']=scan_order_df['scan_seq'].astype('int')

In [11]:
#将int时间转回datetime时间
scan_order_df['add_date']=scan_order_df.add_date.map(lambda x:datetime.strptime(str(x),'%Y%m%d'))

In [12]:
scan_times_df=scan_order_df.groupby('user_id').scan_seq.count()

In [13]:
def caculate_second_buy(scan_order_df):
    scan_order_conversion_df=pd.DataFrame(columns=['scan_day_cnt','order_day_cnt','conversion_rate'])
    for i in scan_order_df.scan_seq.value_counts().index:
        scan_day_cnt=scan_order_df.scan_seq.value_counts()[i]
        order_day_cnt=scan_order_df[scan_order_df.scan_seq==i].order_sn.count()
        conversion_rate=round(order_day_cnt/scan_day_cnt,2)
        scan_order_conversion_df.loc[i,['scan_day_cnt','order_day_cnt','conversion_rate']]=[scan_day_cnt,order_day_cnt,conversion_rate]
    return scan_order_conversion_df

In [14]:
old_order_df.shape

(23606, 5)

In [15]:
caculate_second_buy(scan_order_df)

   scan_day_cnt order_day_cnt conversion_rate
1         18057         17491            0.97
2         11468            84            0.01
3           768           114            0.15
4           296             9            0.03
5           196             3            0.02
6           129             0               0
7            95             0               0
8            70             0               0
9            53             0               0
10           37             0               0
11           29             0               0
12           24             0               0
13           18             0               0
14           15             0               0
15           13             0               0
16            8             0               0
17            4             0               0
18            2             0               0
19            2             0               0

In [16]:
caculate_second_buy(scan_order_df[~scan_order_df.user_id.isin(scan_times_df[scan_times_df>4].index)])

  scan_day_cnt order_day_cnt conversion_rate
1        17861         17324            0.97
2        11272            83            0.01
3          572           111            0.19
4          100             7            0.07

In [17]:
scan_order_df[scan_order_df.user_id.isin(scan_times_df[scan_times_df==2].index)]

,user_id,add_date,shelf_sn,update_date,order_sn,price,name,scan_seq
3,16443,2018-06-29,51321465,2018-06-29,5.0,1800.0,抹茶曲奇立减2.99,1
4,16443,2018-07-24,26510846,2018-07-24,3.0,1500.0,十年海苔组合立减4.49,2
5,16593,2018-07-18,26190806,2018-07-18,1.0,800.0,麦隆咖啡立减7.1元,1
6,16593,2018-07-19,29664263,2018-07-19,3.0,1000.0,钙芝威化饼干立减2.99,2
10,17993,2018-06-29,95901078,2018-06-29,3.0,1850.0,麦隆咖啡立减7.1元,1
11,17993,2018-07-20,21614343,NaN,NaN,NaN,NaN,2
23,19381,2018-06-10,79892974,2018-06-10,1.0,450.0,白色童话立减4.49,1
24,19381,2018-06-18,79892974,NaN,NaN,NaN,NaN,2
27,19658,2018-06-16,54268635,2018-06-16,5.0,1470.0,None,1
28,19658,2018-07-15,54268635,2018-07-15,3.0,1740.0,十年海苔组合立减4.49,2
96,29023,2018-06-19,27051590,2018-06-19,1.0,300.0,巧克力曲奇立减2.99,1
97,29023,2018-07-17,54032292,NaN,NaN,NaN,NaN,2
112,30260,2018-06-28,71602168,2018-06-28,1.0,450.0,十年海苔组合立减4.49,1
113,30260,2018-07-21,71602168,NaN,NaN,NaN,NaN,2
117,30843,2018-06-12,71109078,2018-06-12,1.0,990.0,None,1
118,30843,2018-06-16,71109078,2018-06-16,1.0,552.0,None,2
166,31269,2018-06-06,97819098,2018-06-06,2.0,750.0,None,1
167,31269,2018-06-23,69690988,NaN,NaN,NaN,NaN,2
170,31285,2018-06-06,33780086,2018-06-06,1.0,300.0,巧克力曲奇立减2.99,1
171,31285,2018-07-29,60585006,NaN,NaN,NaN,NaN,2
202,31428,2018-06-06,49531249,2018-06-06,1.0,450.0,十年海苔组合立减4.49,1
203,31428,2018-06-07,83296583,NaN,NaN,NaN,NaN,2
204,31431,2018-06-06,49531249,2018-06-06,1.0,300.0,钙芝威化饼干立减2.99,1
205,31431,2018-06-11,72223552,NaN,NaN,NaN,NaN,2
207,31436,2018-06-06,25929128,2018-06-06,1.0,290.0,None,1
208,31436,2018-06-21,86022605,2018-06-21,1.0,290.0,None,2
246,31503,2018-06-06,65797203,2018-06-06,1.0,690.0,None,1
247,31503,2018-06-07,81740067,NaN,NaN,NaN,NaN,2
248,31510,2018-06-06,84490643,2018-06-06,2.0,600.0,None,1
249,31510,2018-06-28,83780355,NaN,NaN,NaN,NaN,2
...,...,...,...,...,...,...,...,...
30712,102503,2018-07-28,85499644,2018-07-28,1.0,1.0,None,1
30713,102503,2018-07-29,24709345,NaN,NaN,NaN,NaN,2
30714,102504,2018-07-28,58375429,2018-07-28,1.0,390.0,None,1
30715,102504,2018-07-29,32556109,NaN,NaN,NaN,NaN,2
30716,102505,2018-07-28,34898829,2018-07-28,1.0,290.0,美迪齐饮用水立减2元,1
30717,102505,2018-07-29,19948614,NaN,NaN,NaN,NaN,2
30718,102506,2018-07-28,53815769,2018-07-28,1.0,800.0,麦隆咖啡立减7.1元,1
30719,102506,2018-07-29,24709345,NaN,NaN,NaN,NaN,2
30720,102507,2018-07-28,72445367,2018-07-28,1.0,2200.0,None,1
30721,102507,2018-07-29,46472024,NaN,NaN,NaN,NaN,2
30722,102510,2018-07-28,82518237,2018-07-28,1.0,800.0,麦隆咖啡立减7.1元,1
30723,102510,2018-07-29,46453853,NaN,NaN,NaN,NaN,2
30724,102512,2018-07-28,67389534,2018-07-28,1.0,290.0,None,1
30725,102512,2018-07-29,76452713,NaN,NaN,NaN,NaN,2
30726,102513,2018-07-28,96851860,2018-07-28,1.0,390.0,None,1
30727,102513,2018-07-29,51422774,NaN,NaN,NaN,NaN,2
30728,102514,2018-07-28,88825172,2018-07-28,3.0,1670.0,None,1
30729,102514,2018-07-29,76452713,NaN,NaN,NaN,NaN,2
30730,102516,2018-07-28,71774241,2018-07-28,1.0,290.0,None,1
30731,102516,2018-07-29,79701536,NaN,NaN,NaN,NaN,2
30732,102517,2018-07-28,91144741,2018-07-28,1.0,550.0,None,1
30733,102517,2018-07-29,79984564,NaN,NaN,NaN,NaN,2
30734,102521,2018-07-28,52881398,2018-07-28,1.0,290.0,None,1
30735,102521,2018-07-29,41524166,NaN,NaN,NaN,NaN,2
30736,102522,2018-07-28,32193048,2018-07-28,2.0,1790.0,麦隆咖啡立减7.1元,1
30737,102522,2018-07-29,41524166,NaN,NaN,NaN,NaN,2
30738,102524,2018-07-28,72666247,2018-07-28,1.0,290.0,None,1
30739,102524,2018-07-29,18276683,NaN,NaN,NaN,NaN,2
30740,102527,2018-07-28,84490643,2018-07-28,1.0,290.0,None,1
30741,102527,2018-07-29,66418838,NaN,NaN,NaN,NaN,2

# 2 按次数划分扫码转化率
    精确到货架

In [18]:
#上海所有乘客订单信息(包含优惠券，订单时间在6月6日后，被sql3左连接了即可排除掉首次订单在6月6日前的)
sql4='''SELECT a.order_sn,a.sku_name,a.sku_id,a.price,a.driver_id,d.shelf_sn,b.user_id,b.user_tel,DATE(a.add_time) update_date,c.`name` FROM mgo_order_info a
JOIN (SELECT * FROM mgo_order WHERE add_time>'2018-06-06') b ON a.order_sn=b.order_sn
LEFT JOIN mgo_driver_shelf d ON b.driver_id=d.driver_id 
LEFT JOIN mgo_coupon c ON b.coupon_seq=c.coupon_seq
WHERE a.driver_id IN (select driver_id from mgo_driver_info where distric_sn in 
(select distric_sn from mgo_city where city_sn = 310100 ))
AND a.`status`=1
AND a.user_tel NOT IN (SELECT mobile FROM mgo_ding_talk_user)
AND a.user_tel NOT IN (SELECT mobile FROM mgo_user_tag WHERE driver_tag=2 AND mobile NOT IN (SELECT tel FROM mgo_driver WHERE checked_time>0))
AND a.user_tel NOT IN (SELECT tel FROM mgo_driver WHERE checked_time>0)
AND DATE(a.add_time)<'2018-07-30' '''
#所有乘客二次扫码信息
sql5='''SELECT DISTINCT a.user_id,a.add_time FROM dim_scan_log a
JOIN (SELECT * FROM mgo_order WHERE `status`=1 AND is_first=1) b
ON a.user_id=b.user_id AND DATE(a.add_time)>DATE(b.update_time)
WHERE DATE(a.add_time)<'2018-07-30' '''
#上海乘客所有扫码信息(首次订单在6月6日后)
sql6='''SELECT DISTINCT a.user_id,a.user_tel,DATE(a.add_time) add_date,a.shelf_sn FROM dim_scan_log a
JOIN (SELECT * FROM mgo_order WHERE `status`=1 AND is_first=1 AND add_time>'2018-06-06') b
ON a.user_id=b.user_id AND DATE(a.add_time)>=DATE(b.add_time)
WHERE DATE(a.add_time)<'2018-07-30' 
AND a.user_id IN (SELECT user_id FROM mgo_order WHERE user_tel NOT IN (SELECT mobile FROM mgo_ding_talk_user)
AND driver_tel NOT IN   (SELECT mobile FROM mgo_ding_talk_user)
AND user_tel NOT IN (SELECT mobile FROM mgo_user_tag WHERE driver_tag=2 AND mobile NOT IN (SELECT tel FROM mgo_driver WHERE checked_time>0))
AND user_tel NOT IN (SELECT tel FROM mgo_driver WHERE checked_time>0)
AND driver_id IN (select driver_id from mgo_driver_info where distric_sn in 
(select distric_sn from mgo_city where city_sn = 310100 )))
ORDER BY a.user_id,a.add_time '''

In [19]:
old_order_info_df1=reader(sql4)
scan_df1=reader(sql6)

In [20]:
#构建用户日订单表，注意reset_index，之前未加导致merge少了很多,每个司机在该日期在该货架买了几件，用了第一张券的名字
old_order_df1=old_order_info_df1.groupby(['user_id','update_date','shelf_sn']).agg({'order_sn':'count','price':'sum','name':'first'}).reset_index()

In [21]:
scan_order_df1=scan_df1.merge(old_order_df1,left_on=['user_id','add_date','shelf_sn'],right_on=['user_id','update_date','shelf_sn'],how='left')

In [22]:
#将时间转为int类型
scan_order_df1['add_date']=scan_order_df1.add_date.map(lambda x:x.strftime('%Y%m%d')).astype('int')

In [23]:
#分组排序
scan_order_df1['scan_seq']=scan_order_df1.groupby('user_id').add_date.rank(ascending=1,method='first')

In [24]:
scan_order_df1['scan_seq']=scan_order_df1['scan_seq'].astype('int')

In [25]:
#将int时间转回datetime时间
scan_order_df1['add_date']=scan_order_df1.add_date.map(lambda x:datetime.strptime(str(x),'%Y%m%d'))

In [26]:
scan_order_df1.head()

,user_id,user_tel,add_date,shelf_sn,update_date,order_sn,price,name,scan_seq
0,3750,13817539162,2018-07-19,27001002,2018-07-19,1.0,800.0,麦隆咖啡立减7.1元,1
1,16255,15156620113,2018-06-07,57361096,2018-06-07,1.0,290.0,美迪齐饮用水立减2元,1
2,16265,18721610988,2018-07-24,85176316,NaN,NaN,NaN,NaN,1
3,16265,18721610988,2018-07-24,49826276,2018-07-24,8.0,3300.0,十年海苔组合立减4.49,2
4,16443,19945663026,2018-06-29,51321465,2018-06-29,5.0,1800.0,抹茶曲奇立减2.99,1

In [27]:
#计算当天第二次的扫码的乘客
secondscan_sameday_df=scan_order_df1[scan_order_df1.scan_seq.isin([1,2])].groupby('user_id').apply(lambda x:x.add_date-x.add_date.shift()).reset_index()

In [28]:
secondscan_sameday_df['add_date']=secondscan_sameday_df['add_date']/timedelta(days=1)

In [29]:
second_sameday_df=scan_order_df1[(scan_order_df1.user_id.isin(secondscan_sameday_df[secondscan_sameday_df.add_date==0]['user_id']))\
              &(scan_order_df1.scan_seq==2)]

In [30]:
#当天第二次扫码转化率
second_sameday_df.order_sn.count()/second_sameday_df.shape[0]

0.027417027417027416

In [31]:
second_sameday_df.order_sn.count()-second_sameday_df.name.count()

70

In [32]:
#当天第二次无优惠券扫码转化率
(second_sameday_df.order_sn.count()-second_sameday_df.name.count())/(second_sameday_df.shape[0]-second_sameday_df.name.count())

0.020348837209302327

In [33]:
#未促销购买人数
second_sameday_df.order_sn.count()-second_sameday_df.name.count()

70

In [34]:
second_sameday_df.order_sn.count()

95

In [35]:
second_sameday_df.shape[0]

3465

In [69]:
scan_order_df1[(scan_order_df1.scan_seq==2)&(scan_order_df1.name.fillna('0').str.contains('立减'))]

(29, 9)

In [63]:
caculate_second_buy(scan_order_df1)

   scan_day_cnt order_day_cnt conversion_rate
1         18057         16089            0.89
2         14690           138            0.01
3          1033           137            0.13
4           354            23            0.06
5           230             8            0.03
6           154             3            0.02
7           106             3            0.03
8            83             3            0.04
9            71             2            0.03
10           53             2            0.04
11           44             2            0.05
12           32             0               0
13           25             0               0
14           21             0               0
15           18             0               0
16           15             0               0
17            9             0               0
18            7             0               0
19            6             0               0
21            4             0               0
22            4             0               0
20            4             0               0
32            3             0               0
34            3             0               0
24            3             0               0
37            3             0               0
27            3             0               0
33            3             0               0
38            3             0               0
26            3             0               0
..          ...           ...             ...
64            1             0               0
71            1             0               0
66            1             0               0
69            1             0               0
95            1             0               0
72            1             0               0
85            1             0               0
94            1             0               0
62            1             0               0
93            1             0               0
92            1             0               0
91            1             0               0
90            1             0               0
89            1             0               0
88            1             0               0
87            1             0               0
86            1             0               0
84            1             0               0
73            1             0               0
83            1             0               0
82            1             0               0
81            1             0               0
80            1             0               0
63            1             0               0
78            1             0               0
77            1             0               0
76            1             0               0
75            1             0               0
74            1             0               0
79            1             0               0

[96 rows x 3 columns]

# 计算二次购买商品

In [36]:
old_order_info_df1.head()

,order_sn,sku_name,sku_id,price,driver_id,shelf_sn,user_id,user_tel,update_date,name
0,180606000527386785,十年有成海苔片组合,62,450,117562,43614127,31136,18868956785,2018-06-06,十年海苔组合立减4.49
1,180606005355556648,十年有成海苔片组合,62,450,117202,68091630,26350,15921766648,2018-06-06,十年海苔组合立减4.49
2,180606014533160001,派样-CoCo小黄鸭棒棒糖3支装,41,1,117700,97107415,31145,18516280001,2018-06-06,None
3,180606022379505195,维他柠檬茶250ml,88,390,118202,71109078,31152,18632755195,2018-06-06,None
4,180606022379505195,维他柠檬茶250ml,88,390,118202,71109078,31152,18632755195,2018-06-06,None

In [37]:
second_sameday_df.name.value_counts()

麦隆咖啡立减7.1元      12
十年海苔组合立减4.49     6
满10减2            4
抹茶曲奇立减2.99       1
立减3元             1
巧克力曲奇立减2.99      1
Name: name, dtype: int64

In [38]:
#将时间转为int类型
scan_order_df1['add_date']=scan_order_df1.add_date.map(lambda x:x.strftime('%Y%m%d')).astype('int')

In [39]:
#将时间转为int类型
old_order_info_df1['update_date']=old_order_info_df1.update_date.map(lambda x:x.strftime('%Y%m%d')).astype('int')

In [40]:
secondbuy_order_info_df=scan_order_df1[(scan_order_df1.scan_seq>=2)].merge(old_order_info_df1,left_on=['user_id','add_date','shelf_sn'],right_on=['user_id','update_date','shelf_sn'])

In [42]:
secondbuy_order_info_df.name_y.value_counts()

十年海苔组合立减4.49      45
满10减2             35
麦隆咖啡立减7.1元        15
巧克力曲奇立减2.99       11
全场立减2元             5
抹茶曲奇立减2.99         4
德运早餐组合立减5.99       3
每日坚果2包立减4.49元券     3
立减3元               3
白色童话立减4.49         2
全场9折券              2
美迪齐饮用水立减2元         1
钙芝威化饼干立减2.99       1
Name: name_y, dtype: int64

In [62]:
pd.DataFrame(secondbuy_order_info_df[~secondbuy_order_info_df.fillna('无').name_y.str.contains('立减')].groupby(['sku_id','sku_name']).user_id.count())

                         user_id
sku_id sku_name
12     熊本熊饮用水330ml            10
16     法丽兹抹茶曲奇                 1
42     钙芝威化饼干4支                2
49     洽洽每日坚果2包                2
62     十年有成海苔片组合               5
65     德运早餐组合                  1
67     冰力克美肌薄荷糖（柠檬味）           4
69     爪哇咖啡（拿铁）                2
70     美迪齐饮用天然矿泉水             21
71     波拉波拉奥尔良炭烤脆骨肠            1
77     爪哇咖啡（摩卡）                4
78     积分 - 手机支架               1
88     维他柠檬茶                  25
       维他柠檬茶250ml              3
89     依云水                     7
       依云水330ml                4
90     俞文清燕窝水                  8
       俞文清燕窝水280ml             1
91     星巴克咖啡经典浓郁               6
92     力量帝维他命水柑橘风味            19
       力量帝维他命水柑橘风味500ML        6
93     茶π蜜桃乌龙茶                20
       茶π蜜桃乌龙茶500ML            6
94     茶π西柚茉莉花茶               25
       茶π西柚茉莉花茶500ML           8
96     派样-俞文清燕窝水              17
124    纯水乐饮用纯净水               26
135    百岁山饮用天然矿泉水             24
137    贝纳颂经典曼特宁风味咖啡            2
139    星巴克咖啡经典浓郁              50
142    麦隆曼特宁拿铁咖啡               7
169    维他芒果汁                   1
176    清风手帕纸原木纯品               9

In [167]:
pd.DataFrame(secondbuy_order_info_df[secondbuy_order_info_df.name_y.isna()].groupby(['sku_id','sku_name']).user_id.count())

                         user_id
sku_id sku_name
12     熊本熊饮用水330ml             6
16     法丽兹抹茶曲奇                 1
42     钙芝威化饼干4支                2
49     洽洽每日坚果2包                1
62     十年有成海苔片组合               5
65     德运早餐组合                  1
67     冰力克美肌薄荷糖（柠檬味）           2
69     爪哇咖啡（拿铁）                2
70     美迪齐饮用天然矿泉水             21
71     波拉波拉奥尔良炭烤脆骨肠            1
77     爪哇咖啡（摩卡）                3
78     积分 - 手机支架               1
88     维他柠檬茶                  25
       维他柠檬茶250ml              1
89     依云水                     4
       依云水330ml                3
90     俞文清燕窝水                  6
       俞文清燕窝水280ml             1
91     星巴克咖啡经典浓郁               2
92     力量帝维他命水柑橘风味            13
       力量帝维他命水柑橘风味500ML        6
93     茶π蜜桃乌龙茶                19
       茶π蜜桃乌龙茶500ML            4
94     茶π西柚茉莉花茶               21
       茶π西柚茉莉花茶500ML           7
96     派样-俞文清燕窝水              17
124    纯水乐饮用纯净水               24
135    百岁山饮用天然矿泉水             24
137    贝纳颂经典曼特宁风味咖啡            1
139    星巴克咖啡经典浓郁              50
142    麦隆曼特宁拿铁咖啡               7
169    维他芒果汁                   1
176    清风手帕纸原木纯品               9

In [176]:
scan_order_df1[(scan_order_df1.scan_seq>=2)&(scan_order_df1.order_sn>0)].user_id.value_counts().shape

(264,)

In [129]:
caculate_second_buy(scan_order_df1)

   scan_day_cnt order_day_cnt conversion_rate
1         18078         16143            0.89
2         14704           138            0.01
3          1034           137            0.13
4           355            23            0.06
5           231             8            0.03
6           155             3            0.02
7           106             3            0.03
8            83             3            0.04
9            71             2            0.03
10           53             2            0.04
11           44             2            0.05
12           32             0               0
13           25             0               0
14           21             0               0
15           18             0               0
16           15             0               0
17            9             0               0
18            7             0               0
19            6             0               0
21            4             0               0
22            4             0               0
20            4             0               0
32            3             0               0
34            3             0               0
24            3             0               0
37            3             0               0
27            3             0               0
33            3             0               0
38            3             0               0
26            3             0               0
..          ...           ...             ...
64            1             0               0
71            1             0               0
66            1             0               0
69            1             0               0
95            1             0               0
72            1             0               0
85            1             0               0
94            1             0               0
62            1             0               0
93            1             0               0
92            1             0               0
91            1             0               0
90            1             0               0
89            1             0               0
88            1             0               0
87            1             0               0
86            1             0               0
84            1             0               0
73            1             0               0
83            1             0               0
82            1             0               0
81            1             0               0
80            1             0               0
63            1             0               0
78            1             0               0
77            1             0               0
76            1             0               0
75            1             0               0
74            1             0               0
79            1             0               0

[96 rows x 3 columns]