In [1]:
import pandas as pd
import numpy as np
import sys
import os
import pymysql
import math
from sqlalchemy import create_engine
from datetime import datetime, date, timedelta
from matplotlib import pyplot as plt
%matplotlib inline
plt.rcParams['font.sans-serif']=['SimHei']
plt.rcParams['axes.unicode_minus']=False#是否可以显示负号

**备注**  
本次统计时间范围为截至7月9日激活的司机  
统计每个具有完整第N周的司机在第N周的数据表现  
按天统计(515起算)：L0激活司机数，L1所有订单，L12乘客订单，L13购买人数，L14购买乘客数，L21产单司机数，L22产乘客单司机数，L31扫码总人次，L32乘客扫码人次，L33被扫码司机数。  
按天统计(606起算)：L0_1，L13_1购买人数，L14_1购买人数，L31_1扫码总人次，L32_1乘客扫码人次,L33_1被扫码司机数，L34_1被乘客扫码司机数，L35_1被司机扫码司机数。  
按周统计：L0_2，L11_1所有订单，L12_1乘客订单，L21_1产单司机数，L22_1产乘客单司机数，L51_1产单总天数，L52_1产乘客单总天数，L61各周补货总数量，L62各周补货总次数，L63各周补货司机数。

In [2]:
#激活时间,所属租赁公司,注册来源， 新老乘客司机小号订单数(订单标记)

In [3]:
def reader(query,db='mgo'):
    sql=query
    engine=create_engine("mysql+pymysql://bi:***@47.100.182.67:3306/{0}?charset=utf8".format(db))
    df=pd.read_sql(sql,engine)
    return df

In [4]:
#查询所有上海成功订单
sql1='''SELECT order_sn,coupon_seq,driver_id,user_id,user_tel,price,pay_amount,date(update_time) FROM mgo_order WHERE status=1
    AND driver_id IN (select driver_id from mgo_driver_info where distric_sn in (select distric_sn from mgo_city where city_sn = 310100 ))
    AND date(update_time)<'2018-07-16'
    '''
#查询所有司机号手机
sql2='''SELECT tel FROM mgo_driver'''

#查询所有司机小号手机
sql3='''SELECT mobile FROM mgo_user_tag WHERE driver_tag=2'''

#查询所有工作人员手机
sql4='''SELECT mobile FROM mgo_ding_talk_user'''

#查询所有上海激活司机信息
sql5='''SELECT a.id,a.type,date(a.checked_time),tel,b.leasing_company_sn,a.shelf_sn FROM mgo_driver a INNER JOIN 
(SELECT * FROM mgo_driver_info where distric_sn in (select distric_sn from mgo_city where city_sn = 310100)) b 
ON a.id=b.driver_id WHERE date(a.checked_time)<'2018-07-16'
    '''
#查询所有货架扫码信息
sql6='''SELECT module,user_tel,shelf_sn,driver_id,add_time FROM dim_scan_log
    '''
#查询乘客扫码信息
sql7='''SELECT module,user_id,user_tel,shelf_sn,driver_id,add_time FROM dim_scan_log
    '''
#查询司机补货信息
sql8='''SELECT rep_sn,driver_id,shelf_sn,box_price,rep_stock,sku_id,rep_type,add_time FROM mgo_scm_replenishment_stream'''

#查询上海司机提成信息
sql9='''SELECT driver_id,date(add_time) 日期,sum(commission)/100 提成 FROM mgo_driver_commission
WHERE driver_id in  (select driver_id from mgo_driver_info where distric_sn in (select distric_sn from mgo_city where city_sn = 310100 )) 
group by driver_id,date(add_time)'''
#查询上海司机奖励信息
sql10='''SELECT driver_id,date(update_time),sum(bonus) FROM mgo_driver_bonus WHERE driver_id in \
(select driver_id from mgo_driver_info where distric_sn in (select distric_sn from mgo_city where city_sn = 310100 )) 
group by driver_id,date(update_time) '''

In [7]:
order_df=reader(sql1)
driver_df=reader(sql5)
order_df.rename(columns={'date(update_time)':'update_time'},inplace=True)
driver_df.rename(columns={'date(a.checked_time)':'checked_time'},inplace=True)
#工作人员信息
workmate_df=reader(sql4)

In [8]:
#除去工作人员
driver_df=driver_df[~driver_df.tel.isin(workmate_df.mobile)]
#计算总激活周数
driver_df['总激活周数']=((datetime.date(datetime.strptime('2018-07-16',"%Y-%m-%d"))-driver_df['checked_time'])/timedelta(days=1)/7).apply(lambda x:math.floor(x)+1)
#保留总激活周数大于1周的司机
driver_df=driver_df[driver_df['总激活周数']>1]

In [9]:
#拼接订单表和司机信息表
order_driver_df=order_df.merge(driver_df,left_on='driver_id',right_on='id')

In [11]:
#去除乘客及司机为工作人员的订单
order_driver_df=order_driver_df[(~order_driver_df.user_tel.isin(workmate_df.mobile))&(~order_driver_df.tel.isin(workmate_df.mobile))]

In [12]:
def create_weekrenshu_list(df):
    L=[]
    for i in range(1,9):
        L.append(df[df.总激活周数>=i].id.count())
    return pd.DataFrame(L)

In [13]:
#激活周数包含各统计周期的司机数
L0=[]
for i in range(2,10):
    L0.append(driver_df[driver_df.总激活周数>=i].id.count())
pd.DataFrame(L0)

      0
0  2634
1  2465
2  2285
3  1708
4  1448
5  1055
6   724
7   271

## 所有订单

In [14]:
def create_order_list(df):
    L=[]
    for i in range(1,9):
        L.append(df[(df.总激活周数>=1+i)&(df.激活后周次==i)].order_sn.count())
    return pd.DataFrame(L)

### 按周

In [15]:
#去除激活后周次小于等于0的异常数据
order_driver_df['激活后周次']=((order_driver_df['update_time']-order_driver_df['checked_time'])/\
                          timedelta(days=1)/7).apply(lambda x:math.floor(x)+1)
order_driver_df=order_driver_df[order_driver_df.激活后周次>0]

In [16]:
#各周订单总数
L11=[]
for i in range(1,9):
    L11.append(order_driver_df[(order_driver_df.总激活周数>=1+i)&(order_driver_df.激活后周次==i)].order_sn.count())
pd.DataFrame(L11)

       0
0  11370
1   5258
2   3476
3   2805
4   2262
5   1671
6   1393
7    508

## 乘客订单

In [17]:
#筛选出乘客订单
##查询司机号码
driver_as_user_tel=reader(sql2)
##查询司机小号号码
driver_as_user_smalltel=reader(sql3)
#去除司机订单和司机小号订单
order_driver_passeng_df=order_driver_df[(~order_driver_df.user_tel.isin(driver_as_user_tel.tel))\
                                &(~order_driver_df.user_tel.isin(driver_as_user_smalltel.mobile))]

In [18]:
#各周乘客订单总数
L12=[]
for i in range(1,9):
    L12.append(order_driver_passeng_df[(order_driver_passeng_df.总激活周数>=1+i)&(order_driver_passeng_df.激活后周次==i)].order_sn.count())
pd.DataFrame(L12)

      0
0  7130
1  3557
2  2346
3  1750
4  1310
5   936
6   872
7   371

## 司机小号订单

In [19]:
#筛选出司机小号订单
order_driver_small_df=order_driver_df[order_driver_df.user_tel.isin(driver_as_user_smalltel.mobile)]

In [20]:
#各周司机小号订单总数
L13=[]
for i in range(1,9):
    L13.append(order_driver_small_df[(order_driver_small_df.总激活周数>=1+i)&(order_driver_small_df.激活后周次==i)].order_sn.count())
pd.DataFrame(L13)

      0
0  1781
1   778
2   506
3   561
4   470
5   358
6   265
7    47

## 购买人数

In [21]:
def create_renshu_list(df):
    L=[]
    for i in range(1,9):
        L.append(df[(df.总激活周数>=1+i)&(df.激活后周次==i)].groupby('user_id').order_sn.min().reset_index().order_sn.count())
    return pd.DataFrame(L)

In [22]:
#每日总购买人数 order_driver_pivot_df

In [23]:
#各周购买人数
L21=[]
for i in range(1,9):
    L21.append(order_driver_df[(order_driver_df.总激活周数>=1+i)&(order_driver_df.激活后周次==i)].\
               groupby('user_id').order_sn.min().reset_index().order_sn.count())
pd.DataFrame(L21)

      0
0  8386
1  4066
2  2744
3  2098
4  1576
5  1098
6  1012
7   404

In [24]:
#各周乘客单购买人数
L22=[]
for i in range(1,9):
    L22.append(order_driver_passeng_df[(order_driver_passeng_df.总激活周数>=1+i)&(order_driver_passeng_df.激活后周次==i)].\
               groupby('user_id').order_sn.min().reset_index().order_sn.count())
pd.DataFrame(L22)

      0
0  6402
1  3264
2  2158
3  1606
4  1191
5   816
6   809
7   343

## 产单情况

In [25]:
def create_chandan_list(df):
    L=[]
    for i in range(1,9):
        L.append(df[(df.总激活周数>=1+i)&(df.激活后周次==i)].groupby('driver_id').order_sn.min().reset_index().order_sn.count())
    return pd.DataFrame(L)

In [26]:
#各周产单司机数
L31=[]
for i in range(1,9):
    L31.append(order_driver_df[(order_driver_df.总激活周数>=1+i)&(order_driver_df.激活后周次==i)].\
               groupby('driver_id').order_sn.min().reset_index().order_sn.count())
pd.DataFrame(L31)

      0
0  2098
1  1209
2   946
3   700
4   555
5   409
6   288
7   105

In [27]:
#每周产乘客单司机数
L32=[]
for i in range(1,9):
    L32.append(order_driver_passeng_df[(order_driver_passeng_df.总激活周数>=1+i)&(order_driver_passeng_df.激活后周次==i)].\
               groupby('driver_id').order_sn.min().reset_index().order_sn.count())
pd.DataFrame(L32)

      0
0  1683
1   980
2   756
3   569
4   418
5   275
6   195
7    79

## 各周产单总天数

In [28]:
def create_chandanday_list(df):
    L=[]
    for i in range(1,9):
        L.append(df[(df.总激活周数>=1+i)&(df.激活后周次==i)].groupby(['driver_id','update_time']).\
                 order_sn.min().reset_index().order_sn.count())
    return pd.DataFrame(L)

In [29]:
#各周产单总天数
L41=[]
for i in range(1,9):
    L41.append(order_driver_df[(order_driver_df.总激活周数>=1+i)&(order_driver_df.激活后周次==i)].\
               groupby(['driver_id','update_time']).order_sn.min().reset_index().order_sn.count())
pd.DataFrame(L41)

      0
0  5948
1  3038
2  2198
3  1642
4  1241
5   884
6   682
7   264

In [30]:
#各周产乘客单总天数
L42=[]
for i in range(1,9):
    L42.append(order_driver_passeng_df[(order_driver_passeng_df.总激活周数>=1+i)&(order_driver_passeng_df.激活后周次==i)].\
               groupby(['driver_id','update_time']).order_sn.min().reset_index().order_sn.count())
pd.DataFrame(L42)

      0
0  4009
1  2204
2  1612
3  1167
4   839
5   591
6   454
7   193

## 扫码相关数据

In [31]:
def create_scan_list(df):
    L=[]
    for i in range(1,9):
        L.append(df[(df.总激活周数>=1+i)&(df.激活后周次==i)].groupby(['shelf_sn','add_time','user_id']).\
                 module.min().reset_index().shelf_sn.count())
    return pd.DataFrame(L)

In [32]:
scan_df=reader(sql7)

In [33]:
scan_df['add_time']=scan_df.add_time.map(lambda x:datetime.strftime(x,"%Y-%m-%d")).map(lambda x:datetime.date(datetime.strptime(x,"%Y-%m-%d")))

In [34]:
#剔除工作人员扫码
scan_df=scan_df[(~scan_df.user_tel.isin(workmate_df.mobile))]
#剔除司机及小号及工作人员扫码
scan_passeng_df=scan_df[(~scan_df.user_tel.isin(workmate_df.mobile))&(~scan_df.user_tel.isin(driver_df.tel))&(~scan_df.user_tel.isin(driver_as_user_smalltel.mobile))]

In [35]:
scan_df.head()

            module  user_id user_tel  shelf_sn  driver_id    add_time
0  efficaciousBook     1142     None  38319838      723.0  2018-06-05
1  efficaciousBook     1142     None  38319838      723.0  2018-06-05
2  efficaciousBook     1142     None  38319838      723.0  2018-06-05
3  efficaciousBook     1142     None  38319838      723.0  2018-06-05
4  efficaciousBook     1142     None  38319838      723.0  2018-06-05

In [36]:
#跑不动scan_df=reader(sql7)
scan_driver_df=driver_df.merge(scan_df,on='shelf_sn')
scan_passeng_driver_df=driver_df.merge(scan_passeng_df,on='shelf_sn')

In [37]:
scan_driver_df['激活后周次']=((scan_driver_df['add_time']-scan_driver_df['checked_time'])/\
                          timedelta(days=1)/7).apply(lambda x:math.floor(x)+1)
scan_passeng_driver_df['激活后周次']=((scan_passeng_driver_df['add_time']-scan_passeng_driver_df['checked_time'])/\
                          timedelta(days=1)/7).apply(lambda x:math.floor(x)+1)

In [38]:
#driver_scan_df=scan_df.merge(driver_df,left_on='driver_id',right_on='id')

In [39]:
scan_driver_df.head()

,id,type,checked_time,tel,leasing_company_sn,shelf_sn,总激活周数,module,user_id,user_tel,driver_id,add_time,激活后周次
0,107243,0,2018-06-29,18516011249,SH-0002,25090092,3,home,61833,None,NaN,2018-06-29,1
1,116225,0,2018-05-15,15026628013,SH-0003,56690055,9,order,26821,15000961159,116225.0,2018-06-04,3
2,116225,0,2018-05-15,15026628013,SH-0003,56690055,9,orderSuccess,26821,15000961159,116225.0,2018-06-04,3
3,116225,0,2018-05-15,15026628013,SH-0003,56690055,9,order,29121,13127996755,116225.0,2018-06-04,3
4,116225,0,2018-05-15,15026628013,SH-0003,56690055,9,orderSuccess,29121,13127996755,116225.0,2018-06-04,3

In [40]:
#去除没有扫码记录时段的激活司机
scan_driver_df=scan_driver_df[scan_driver_df.总激活周数<=6]
scan_passeng_driver_df=scan_passeng_driver_df[scan_passeng_driver_df.总激活周数<=6]

## 所有人扫码(除工作人员)

In [41]:
#各周总扫码人数
L51=[]
for i in range(1,6):
    L51.append(scan_driver_df[(scan_driver_df.总激活周数>=1+i)&(scan_driver_df.激活后周次==i)].\
               groupby(['shelf_sn','add_time','user_id']).module.min().reset_index().shelf_sn.count())
pd.DataFrame(L51)

       0
0  10730
1   5251
2   2457
3    621
4    170

### 乘客扫码

In [42]:
#各周总扫码乘客人数
L52=[]
for i in range(1,6):
    L52.append(scan_passeng_driver_df[(scan_passeng_driver_df.总激活周数>=1+i)&(scan_passeng_driver_df.激活后周次==i)].\
               groupby(['shelf_sn','add_time','user_id']).module.min().reset_index().shelf_sn.count())
pd.DataFrame(L52)

      0
0  9333
1  4728
2  2188
3   558
4   160

## 被扫码司机数

In [43]:
def create_scandedriver_list(df):
    L=[]
    for i in range(1,9):
        L.append(df[(df.总激活周数>=1+i)&(df.激活后周次==i)].groupby(['id']).module.min().reset_index().id.count())
    return pd.DataFrame(L)

In [44]:
#各周被扫码司机数
L53=[]
for i in range(1,6):
    L53.append(scan_driver_df[(scan_driver_df.总激活周数>=1+i)&(scan_driver_df.激活后周次==i)].\
               groupby(['id']).module.min().reset_index().id.count())
pd.DataFrame(L53)

      0
0  1030
1   604
2   446
3   141
4    39

In [45]:
#各周被乘客扫码司机数
L54=[]
for i in range(1,6):
    L54.append(scan_passeng_driver_df[(scan_passeng_driver_df.总激活周数>=1+i)&(scan_passeng_driver_df.激活后周次==i)].\
               groupby(['id']).module.min().reset_index().id.count())
pd.DataFrame(L54)

      0
0  1018
1   604
2   446
3   141
4    39

## 第一周提成对生命周期的影响

In [46]:
commission_df=reader(sql9)

In [47]:
commission_driver_df=commission_df.merge(driver_df,left_on='driver_id',right_on='id')
commission_driver_df['提成激活后周次']=((commission_driver_df['日期']-commission_driver_df['checked_time'])/\
                          timedelta(days=1)/7).apply(lambda x:math.floor(x)+1)

In [48]:
#排除提成时间异常数据
commission_driver_df=commission_driver_df[commission_driver_df.提成激活后周次>0]

In [129]:
comission_week1_df=commission_driver_df[(commission_driver_df.提成激活后周次==1)&(commission_driver_df.总激活周数>=2)].\
groupby('driver_id').提成.sum().sort_values(ascending=False).reset_index()

In [140]:
comission_week1_df1=comission_week1_df[comission_week1_df.提成>=50].merge(driver_df,left_on='driver_id',right_on='id')

In [141]:
#第一周提成大于50人群激活周数包含各统计周期的司机数
create_weekrenshu_list(comission_week1_df1)

    0
0  70
1  70
2  64
3  58
4  57
5  54
6  52
7  34

In [142]:
create_chandan_list(order_driver_df[order_driver_df.id.isin(comission_week1_df1.driver_id)])

    0
0  70
1  56
2  40
3  39
4  33
5  27
6  14
7   4

In [143]:
create_chandanday_list(order_driver_df[order_driver_df.id.isin(comission_week1_df1.driver_id)])

     0
0  371
1  200
2  130
3  111
4   96
5   84
6   47
7   17

In [144]:
create_order_list(order_driver_df[order_driver_df.id.isin(comission_week1_df1.driver_id)])

      0
0  1706
1   608
2   294
3   345
4   269
5   229
6   147
7    45

## 司机任务奖励对生命周期的影响

In [54]:
bonus_df=reader(sql10)

In [55]:
bonus_df.rename(columns={'date(update_time)':'update_time','sum(bonus)':'bonus'},inplace=True)

In [56]:
bonus_driver_df=bonus_df.merge(driver_df,left_on='driver_id',right_on='id')
bonus_driver_df['激活后周次']=((bonus_driver_df['update_time']-bonus_driver_df['checked_time'])/\
                          timedelta(days=1)/7).apply(lambda x:math.floor(x)+1)

In [57]:
#排除提成时间异常数据
bonus_driver_df=bonus_driver_df[bonus_driver_df.激活后周次>0]

In [123]:
bonus_week1_df=bonus_driver_df[(bonus_driver_df.激活后周次==1)&(bonus_driver_df.总激活周数>=2)].\
groupby('driver_id').bonus.sum().sort_values(ascending=False).reset_index()

In [124]:
bonus_week1_df1=bonus_week1_df[bonus_week1_df.bonus>=20].merge(driver_df,left_on='driver_id',right_on='id')

In [125]:
create_weekrenshu_list(bonus_week1_df1)

     0
0  106
1  106
2   90
3   74
4   61
5   49
6    9
7    0

In [126]:
create_order_list(order_driver_df[order_driver_df.id.isin(bonus_week1_df1.driver_id)])

      0
0  1606
1   509
2   266
3   200
4   195
5    19
6     0
7     0

In [127]:
create_chandanday_list(order_driver_df[order_driver_df.id.isin(bonus_week1_df1.driver_id)])

     0
0  510
1  252
2  150
3  113
4   89
5   14
6    0
7    0

In [128]:
create_chandan_list(order_driver_df[order_driver_df.id.isin(bonus_week1_df1.driver_id)])

     0
0  106
1   74
2   52
3   38
4   29
5    5
6    0
7    0

## 司机收入加提成对生命周期的影响

In [157]:
#计算司机总收入(提成+奖励)
salary_week1_df=comission_week1_df.merge(bonus_week1_df,how='left',on='driver_id').fillna(0)
salary_week1_df['total']=salary_week1_df.提成+salary_week1_df.bonus
salary_week1_df=salary_week1_df.sort_values('total',ascending=False)

In [163]:
salary_week1_df=salary_week1_df.merge(driver_df,left_on='driver_id',right_on='id')

In [198]:
salary_week1_df1=salary_week1_df[(salary_week1_df.total<10)]

In [199]:
create_weekrenshu_list(salary_week1_df1)

      0
0  1147
1  1147
2  1058
3   981
4   811
5   684
6   487
7   352

In [200]:
create_chandan_list(order_driver_df[order_driver_df.id.isin(salary_week1_df1.driver_id)])

      0
0  1109
1   495
2   401
3   285
4   201
5   159
6   122
7    46

In [201]:
create_chandanday_list(order_driver_df[order_driver_df.id.isin(salary_week1_df1.driver_id)])

      0
0  2044
1  1109
2   863
3   604
4   409
5   296
6   255
7   106

In [202]:
create_order_list(order_driver_df[order_driver_df.id.isin(salary_week1_df1.driver_id)])

      0
0  2705
1  1626
2  1189
3   922
4   677
5   498
6   443
7   195

In [ ]:
## 司机平均每周收入对司机生命周期的影响

## 司机每周自己购买件数对生命周期的影响

In [203]:
#筛选出司机及小号订单
order_driver_siji_df=order_driver_df[(order_driver_df.user_tel.isin(driver_as_user_tel.tel))\
                                |(order_driver_df.user_tel.isin(driver_as_user_smalltel.mobile))]

In [205]:
order_driver_siji_df.总激活周数.value_counts()

8    2835
7    2050
6    1816
9    1786
5     914
4     752
3     501
2     365
Name: 总激活周数, dtype: int64

In [219]:
#计算每个司机产单周数
chandan_per_driver_df=order_driver_df.groupby(['driver_id','激活后周次']).order_sn.min().reset_index().groupby('driver_id').order_sn.count().reset_index()

In [220]:
chandan_per_driver_df.rename(columns={'order_sn':'产单周数'},inplace=True)

In [221]:
order_siji_total=order_driver_siji_df.groupby('driver_id').agg({'order_sn':'count','总激活周数':'min'}).\
reset_index().merge(chandan_per_driver_df,on='driver_id')

In [232]:
order_siji_total['周均司机单量']=order_siji_total.order_sn/order_siji_total.产单周数
order_siji_total.rename(columns={'driver_id':'id'},inplace=True)

In [310]:
order_siji_total1=order_siji_total[(order_siji_total['周均司机单量']>=2)&(order_siji_total['周均司机单量']<100)]

In [316]:
create_weekrenshu_list(driver_df[~driver_df.id.isin(order_siji_total.id)])

     0
0  750
1  750
2  701
3  628
4  252
5  176
6  119
7   91

In [318]:
create_chandan_list(order_driver_df[~order_driver_df.id.isin(order_siji_total.id)])

     0
0  272
1  111
2   91
3   54
4   18
5   11
6    8
7    5

In [319]:
create_chandanday_list(order_driver_df[~order_driver_df.id.isin(order_siji_total.id)])

     0
0  529
1  280
2  198
3  107
4   26
5   22
6   14
7   14

In [320]:
create_order_list(order_driver_df[~order_driver_df.id.isin(order_siji_total.id)])

     0
0  795
1  389
2  264
3  139
4   29
5   30
6   24
7   28

In [61]:
## 司机车型对生命周期的影响

In [63]:
## 注册来源对生命周期的影响

## 可视化

In [64]:
#各周司机平均产单数(乘客单)(excel)
#各周司机平均产单天数(产单总天数/产单司机数)
#各周司机产单分布

In [65]:
#各周司机平均产单天数(产单总天数/产单司机数)
order_driver_day_pivot_df=order_driver_df.groupby(['update_time','driver_id'])['order_sn','激活周次','购买周次'].min().reset_index().\
pivot_table(index='激活周次',columns='购买周次',values='order_sn',aggfunc='count')

KeyError: "Columns not found: '激活周次', '购买周次'"

In [ ]:
order_driver_day_pivot_df

In [ ]:
#各周司机平均产乘客单天数(产乘客单总天数/产单司机数)
order_driver_passeng_day_pivot_df=order_driver_passeng_df.groupby(['date(add_time)','driver_id'])['order_sn','激活周次','购买周次'].min().reset_index().\
pivot_table(index='激活周次',columns='购买周次',values='order_sn',aggfunc='count')

In [ ]:
order_driver_passeng_day_pivot_df