In [82]:
import pandas as pd
import numpy as np
import sys
import os
import pymysql
from sqlalchemy import create_engine
from datetime import datetime, date, timedelta

In [83]:
def reader(query,db='mgo'):
    sql=query
    engine=create_engine("mysql+pymysql://bi:***@47.100.182.67:3306/{0}?charset=utf8".format(db))
    df=pd.read_sql(sql,engine)
    return df

In [84]:
#司机每次补货数据
sql1='''SELECT a.id,a.激活日期,b.补货量,b.补货日期 FROM 
(SELECT id,DATE(checked_time) 激活日期 FROM mgo_driver
WHERE id IN (select driver_id from mgo_driver_info where distric_sn in (select distric_sn from mgo_city where city_sn = 310100 ))
AND checked_time>0) a
LEFT JOIN 
(SELECT driver_id,SUM(rep_stock) 补货量,DATE(add_time) 补货日期 FROM mgo_scm_replenishment_stream
WHERE driver_id IN (select driver_id from mgo_driver_info where distric_sn in (select distric_sn from mgo_city where city_sn = 310100 ))
AND rep_stock=1
GROUP BY driver_id,DATE(add_time)) b
ON a.id=b.driver_id
ORDER BY a.id,b.补货日期'''
#司机提成数据
sql2='''SELECT a.id,a.激活日期,b.提成,b.最后订单日 FROM 
(SELECT id,DATE(checked_time) 激活日期 FROM mgo_driver
WHERE id IN (select driver_id from mgo_driver_info where distric_sn in (select distric_sn from mgo_city where city_sn = 310100 ))
AND checked_time>0) a
LEFT JOIN 
(SELECT driver_id,SUM(commission/100) 提成,MAX(DATE(add_time)) 最后订单日 FROM mgo_driver_commission
WHERE driver_id IN (select driver_id from mgo_driver_info where distric_sn in (select distric_sn from mgo_city where city_sn = 310100 ))
GROUP BY driver_id) b
ON a.id=b.driver_id'''
#司机奖励数据
sql3='''SELECT a.id,a.激活日期,b.奖励 FROM 
(SELECT id,DATE(checked_time) 激活日期 FROM mgo_driver
WHERE id IN (select driver_id from mgo_driver_info where distric_sn in (select distric_sn from mgo_city where city_sn = 310100 ))
AND checked_time>0) a
LEFT JOIN 
(SELECT driver_id,SUM(bonus) 奖励 FROM mgo_driver_bonus
WHERE driver_id IN (select driver_id from mgo_driver_info where distric_sn in (select distric_sn from mgo_city where city_sn = 310100 ))
GROUP BY driver_id) b
ON a.id=b.driver_id'''
#工作人员司机id
sql4='''SELECT id FROM mgo_driver WHERE tel IN (SELECT mobile FROM mgo_ding_talk_user)'''

In [85]:
rep_df=reader(sql1,db='mgo')
cms_df=reader(sql2,db='mgo')
bns_df=reader(sql3,db='mgo')

In [86]:
mate_df=reader(sql4,db='mgo')

In [87]:
rep_df=rep_df.dropna()
cms_df=cms_df.dropna()

In [88]:
rep_interval_df=rep_df.groupby('id').apply(lambda x:((x.补货日期-x.补货日期.shift())/timedelta(days=1)).mean()).reset_index()

In [89]:
rep_interval_df.columns=['id','补货间隔']
rep_interval_df=rep_interval_df.fillna(100)

In [90]:
rep_num_df=rep_df.groupby('id').补货量.sum().reset_index()

In [91]:
rep_times_df=rep_df.groupby('id').补货量.count().reset_index()
rep_times_df.columns=['id','补货次数']

In [92]:
total_info=rep_interval_df.merge(rep_times_df,on='id').merge(rep_num_df,on='id').merge(cms_df,on='id').merge(bns_df,on=['id','激活日期'])

In [93]:
total_info.head()

      id       补货间隔  补货次数    补货量        激活日期      提成       最后订单日     奖励
0    558  20.000000     4   35.0  2018-05-31    6.00  2018-07-30   15.0
1  12390   1.000000     2   90.0  2018-09-11    4.60  2018-09-13    1.0
2  19443   4.000000    18  196.0  2018-05-23  350.04  2018-07-02   20.0
3  34535  16.500000     3  655.0  2018-06-20  481.93  2018-08-07    NaN
4  37490   3.428571    15  445.0  2018-06-14  678.93  2018-08-05  120.0

In [94]:
datetime(2018,8,7).date()

datetime.date(2018, 8, 7)

In [95]:
total_info=total_info[~((total_info.补货次数<=5)&(total_info.补货间隔<=3))]
total_info=total_info[total_info.最后订单日<=datetime(2018,8,7).date()]
total_info=total_info.fillna(0)

In [96]:
total_info['平均补货量']=total_info['补货量']/total_info['补货次数']
total_info['总收入']=total_info['提成']+total_info['奖励']
total_info['日均收入']=total_info['总收入']/((total_info['最后订单日']-total_info['激活日期'])/timedelta(days=1))
total_info['日均提成']=total_info['提成']/((total_info['最后订单日']-total_info['激活日期'])/timedelta(days=1))
total_info['日均奖励']=total_info['奖励']/((total_info['最后订单日']-total_info['激活日期'])/timedelta(days=1))

In [97]:
total_info=total_info[~total_info.id.isin(mate_df.id)]
total_info=total_info[~(total_info.日均收入<0)]
total_info=total_info[~(total_info.日均收入==np.inf)]

In [98]:
total_info['间隔区间']=100

In [99]:
total_info.loc[total_info.补货间隔<100,'间隔区间']=pd.qcut(total_info.loc[total_info.补货间隔<100,'补货间隔'],5)

In [115]:
total_info['间隔区间']=total_info.间隔区间.astype('str')

In [120]:
total_info['间隔区间'].value_counts()

100             1304
(14.0, 20.0]     207
(9.0, 14.0]      207
(1.199, 9.0]     206
(29.0, 98.0]     202
(20.0, 29.0]     189
Name: 间隔区间, dtype: int64

In [119]:
total_info.pivot_table(index='间隔区间',values=['补货次数','平均补货量','日均收入','日均提成','日均奖励'])

                  平均补货量      日均奖励      日均提成      日均收入      补货次数
间隔区间
(1.199, 9.0]  24.597414  1.371156  3.664996  5.036152  5.169903
(14.0, 20.0]  26.401955  0.542175  1.762228  2.304402  3.483092
(20.0, 29.0]  28.615344  0.378093  1.408107  1.786200  2.693122
(29.0, 98.0]  30.050743  0.740630  1.024180  1.764810  2.158416
(9.0, 14.0]   26.353460  0.937191  2.575289  3.512480  4.077295
100           30.263037  0.471176  1.571601  2.042777  1.000000

In [121]:
total_info.pivot_table(index='间隔区间',values=['补货次数','平均补货量','日均收入','日均提成','日均奖励'],aggfunc='median')

                  平均补货量      日均奖励      日均提成      日均收入  补货次数
间隔区间
(1.199, 9.0]  22.333333  0.494505  2.431028  2.830227     4
(14.0, 20.0]  25.333333  0.350877  1.689079  2.176349     3
(20.0, 29.0]  26.000000  0.080645  1.298590  1.604348     3
(29.0, 98.0]  27.500000  0.089400  0.894345  1.180306     2
(9.0, 14.0]   24.333333  0.727273  2.311714  3.155909     4
100           34.000000  0.000000  0.791566  0.904351     1

In [78]:
pd.qcut(total_info.loc[total_info.补货间隔<100,'补货间隔'],5).value_counts()

(14.0, 20.0]    207
(9.0, 14.0]     207
(1.199, 9.0]    206
(29.0, 98.0]    202
(20.0, 29.0]    189
Name: 补货间隔, dtype: int64

In [51]:
total_info

,id,补货间隔,补货次数,补货量,激活日期,提成,最后订单日,奖励,平均补货量,总收入,日均收入,日均提成,日均奖励
6,47380,2.083333,13,156.0,2018-07-12,170.95,2018-08-07,206.14,12.000000,377.09,14.503462,6.575000,7.928462
11,116225,17.250000,5,151.0,2018-05-15,236.78,2018-08-01,60.00,30.200000,296.78,3.804872,3.035641,0.769231
12,116278,19.750000,5,163.0,2018-05-17,162.06,2018-08-07,95.00,32.600000,257.06,3.134878,1.976341,1.158537
13,116279,30.000000,3,109.0,2018-05-17,199.53,2018-08-01,45.00,36.333333,244.53,3.217500,2.625395,0.592105
14,116280,21.666667,4,151.0,2018-05-17,164.49,2018-08-07,75.00,37.750000,239.49,2.920610,2.005976,0.914634
15,116282,11.666667,10,318.0,2018-05-17,317.49,2018-08-07,195.00,31.800000,512.49,6.249878,3.871829,2.378049
16,116286,6.714286,8,151.0,2018-05-17,229.59,2018-07-28,295.00,18.875000,524.59,7.285972,3.188750,4.097222
17,116287,18.000000,3,47.0,2018-05-17,76.83,2018-07-09,5.00,15.666667,81.83,1.543962,1.449623,0.094340
19,116293,39.000000,2,47.0,2018-05-17,67.44,2018-07-19,7.00,23.500000,74.44,1.181587,1.070476,0.111111
20,116300,23.333333,4,100.0,2018-05-17,73.58,2018-08-07,55.00,25.000000,128.58,1.568049,0.897317,0.670732
21,116305,22.500000,3,115.0,2018-05-17,194.56,2018-07-05,10.00,38.333333,204.56,4.174694,3.970612,0.204082
22,116330,9.875000,9,413.0,2018-05-18,504.81,2018-08-07,120.00,45.888889,624.81,7.713704,6.232222,1.481481
23,116331,40.000000,2,38.0,2018-05-18,39.44,2018-07-31,0.00,19.000000,39.44,0.532973,0.532973,0.000000
24,116332,22.500000,3,71.0,2018-05-18,81.69,2018-08-02,0.00,23.666667,81.69,1.074868,1.074868,0.000000
25,116333,34.666667,4,77.0,2018-05-18,30.91,2018-08-06,50.00,19.250000,80.91,1.011375,0.386375,0.625000
26,116334,27.000000,3,60.0,2018-05-18,100.71,2018-07-11,0.00,20.000000,100.71,1.865000,1.865000,0.000000
27,116335,21.000000,3,82.0,2018-05-18,67.97,2018-07-10,0.00,27.333333,67.97,1.282453,1.282453,0.000000
28,116336,9.000000,3,63.0,2018-05-18,84.62,2018-08-01,20.00,21.000000,104.62,1.394933,1.128267,0.266667
29,116339,62.000000,2,59.0,2018-05-18,41.86,2018-08-06,5.00,29.500000,46.86,0.585750,0.523250,0.062500
30,116341,12.600000,6,149.0,2018-05-18,172.23,2018-08-07,75.00,24.833333,247.23,3.052222,2.126296,0.925926
32,116343,57.000000,2,50.0,2018-05-18,71.61,2018-08-05,30.00,25.000000,101.61,1.286203,0.906456,0.379747
33,116344,40.000000,2,45.0,2018-05-18,30.61,2018-06-27,0.00,22.500000,30.61,0.765250,0.765250,0.000000
34,116346,22.666667,4,128.0,2018-05-18,175.43,2018-08-01,66.96,32.000000,242.39,3.231867,2.339067,0.892800
35,116347,11.666667,4,138.0,2018-05-18,253.12,2018-07-24,105.00,34.500000,358.12,5.345075,3.777910,1.567164
36,116348,13.250000,5,106.0,2018-05-18,144.13,2018-08-07,20.00,21.200000,164.13,2.026296,1.779383,0.246914
37,116349,63.000000,2,77.0,2018-05-18,62.95,2018-07-27,10.00,38.500000,72.95,1.042143,0.899286,0.142857
38,116352,16.333333,4,110.0,2018-05-18,113.31,2018-07-30,0.00,27.500000,113.31,1.552192,1.552192,0.000000
39,116354,67.000000,2,74.0,2018-05-18,49.50,2018-07-29,15.00,37.000000,64.50,0.895833,0.687500,0.208333
40,116355,22.500000,3,47.0,2018-05-18,69.83,2018-08-06,0.00,15.666667,69.83,0.872875,0.872875,0.000000
41,116356,18.000000,2,33.0,2018-05-18,41.39,2018-06-07,0.00,16.500000,41.39,2.069500,2.069500,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1086,121885,6.500000,3,215.0,2018-07-21,196.99,2018-08-07,140.00,71.666667,336.99,19.822941,11.587647,8.235294
1087,121889,5.000000,2,68.0,2018-07-21,47.19,2018-07-30,50.00,34.000000,97.19,10.798889,5.243333,5.555556
1088,121934,14.000000,2,52.0,2018-07-22,25.62,2018-08-07,20.00,26.000000,45.62,2.851250,1.601250,1.250000
1089,121958,6.500000,3,71.0,2018-07-24,13.17,2018-08-07,0.00,23.666667,13.17,0.940714,0.940714,0.000000
1090,121967,5.500000,3,133.0,2018-07-23,68.88,2018-08-06,40.00,44.333333,108.88,7.777143,4.920000,2.857143
1092,121990,11.000000,2,36.0,2018-07-23,2.61,2018-07-31,0.00,18.000000,2.61,0.326250,0.326250,0.000000
1093,122016,6.500000,3,71.0,2018-07-24,11.64,2018-08-07,0.00,23.666667,11.64,0.831429,0.831429,0.000000
1094,122021,6.000000,3,71.0,2018-07-24,12.51,2018-08-07,0.00,23.666667,12.51,0.893571,0.893571,0.000000
1095,122022,3.250000,5,97.0,2018-07-24,12.51,2018-08-07,0.00,19.400000,12.51,0.893571,0.893571,0.000000
1096,122023,6.500000,3,72.0,2018-07-24,14.04,2018-08-07,0.00,24.000000,14.04,1.002857,1.002857,0.000000
1097,122026,6.500000,3,72.0,2018-07-24,9.24,2018-08-07,0.00,24.000000,9.24,0.660000,0.660000,0.000000
1098,122027,6.500000,3,72.0,2018-07-24,9.51,2018-08-07,0.00,24.000000,9.51,0.679286,0.679286,0.000000
1100,122029,13.000000,2,69.0,2018-07-24,10.77,2018-08-07,0.00,34.500000,10.77,0.769286,0.769286,0.000000
1101,122030,6.500000,3,71.0,2018-07-24,13.17,2018-08-07,0.00,23.666667,13.17,0.940714,0.940714,0.000000
1102,122031,4.333333,4,86.0,2018-07-24,14.04,2018-08-07,0.00,21.500000,14.04,1.002857,1.002857,0.000000
1103,122036,8.000000,2,46.0,2018-07-24,31.08,2018-08-06,50.00,23.000000,81.08,6.236923,2.390769,3.846154
1106,122065,3.500000,3,120.0,2018-07-25,52.70,2018-08-03,20.00,40.000000,72.70,8.077778,5.855556,2.222222
1107,122068,8.000000,2,60.0,2018-07-25,51.24,2018-08-07,20.00,30.000000,71.24,5.480000,3.941538,1.538462
1108,122071,5.500000,3,91.0,2018-07-25,74.19,2018-08-07,40.00,30.333333,114.19,8.783846,5.706923,3.076923
1109,122083,12.000000,2,59.0,2018-07-25,38.73,2018-08-07,20.00,29.500000,58.73,4.517692,2.979231,1.538462
1110,122111,11.000000,2,71.0,2018-07-26,27.18,2018-08-07,50.00,35.500000,77.18,6.431667,2.265000,4.166667
1111,122113,36.000000,2,36.0,2018-07-26,13.86,2018-07-31,50.00,18.000000,63.86,12.772000,2.772000,10.000000
1112,122132,5.000000,2,102.0,2018-07-26,25.78,2018-08-07,0.00,51.000000,25.78,2.148333,2.148333,0.000000
1113,122133,6.000000,2,125.0,2018-07-26,131.17,2018-08-07,70.92,62.500000,202.09,16.840833,10.930833,5.910000
1115,122153,18.000000,3,52.0,2018-07-27,16.47,2018-08-06,50.00,17.333333,66.47,6.647000,1.647000,5.000000
1116,122161,35.000000,2,36.0,2018-07-27,24.03,2018-08-04,50.00,18.000000,74.03,9.253750,3.003750,6.250000
1117,122162,39.000000,2,36.0,2018-07-27,33.45,2018-08-02,50.00,18.000000,83.45,13.908333,5.575000,8.333333
1118,122189,36.000000,2,36.0,2018-07-28,9.03,2018-08-07,50.00,18.000000,59.03,5.903000,0.903000,5.000000
1119,122192,4.000000,2,119.0,2018-07-28,56.30,2018-08-07,78.04,59.500000,134.34,13.434000,5.630000,7.804000
1121,122290,7.000000,2,88.0,2018-07-31,21.96,2018-08-07,20.00,44.000000,41.96,5.994286,3.137143,2.857143