In [1]:
import pandas as pd
import numpy as np
import sys
import os
import pymysql
import math
from sqlalchemy import create_engine
from datetime import datetime, date, timedelta
from matplotlib import pyplot as plt
%matplotlib inline
plt.rcParams['font.sans-serif']=['SimHei']
plt.rcParams['axes.unicode_minus']=True#是否可以显示负号

In [2]:
#按照有开单周计算平均开单天数，按周数算

In [3]:
def reader(query,db='mgo'):
    sql=query
    engine=create_engine("mysql+pymysql://bi:***@47.100.182.67:3306/{0}?charset=utf8".format(db))
    df=pd.read_sql(sql,engine)
    return df

In [157]:
#查询所有上海成功订单
sql1='''SELECT order_sn,coupon_seq,driver_id,user_id,user_tel,price,pay_amount,pay_amount/price discount,date(update_time) update_date FROM mgo_order WHERE status=1
    AND driver_id IN (select driver_id from mgo_driver_info where distric_sn in (select distric_sn from mgo_city where city_sn = 310100 ))
    AND date(update_time)<'2018-08-06' '''
#查询所有上海激活司机信息
sql2='''SELECT a.id,a.type,date(a.checked_time) checked_date,tel,b.leasing_company_sn,a.shelf_sn FROM mgo_driver a INNER JOIN 
(SELECT * FROM mgo_driver_info where distric_sn in (select distric_sn from mgo_city where city_sn = 310100)) b 
ON a.id=b.driver_id WHERE date(a.checked_time)<'2018-08-06' '''
#查询司机补货信息
sql3='''SELECT rep_sn,driver_id,shelf_sn,box_price,rep_stock,sku_id,rep_type,DATE(add_time) rep_date FROM mgo_scm_replenishment_stream
WHERE rep_type!=2 AND rep_stock=1'''
#查询上海司机提成信息
sql4='''SELECT driver_id,order_sn,date(add_time) 提成日期,commission/100 提成金额 FROM mgo_driver_commission
WHERE driver_id in  (select driver_id from mgo_driver_info where distric_sn in (select distric_sn from mgo_city where city_sn = 310100 )) '''
#查询上海司机奖励信息
sql5='''SELECT driver_id,date(update_time) 奖励日期,sum(bonus) 奖励金额 FROM mgo_driver_bonus WHERE driver_id in \
(select driver_id from mgo_driver_info where distric_sn in (select distric_sn from mgo_city where city_sn = 310100 )) 
group by driver_id,date(update_time) '''
#查询所有司机号手机
sql6='''SELECT tel FROM mgo_driver'''
#查询所有司机小号手机
sql7='''SELECT mobile FROM mgo_user_tag WHERE driver_tag=2 AND mobile NOT IN (SELECT tel FROM mgo_driver WHERE checked_time>0)'''
#查询所有工作人员手机
sql8='''SELECT mobile FROM mgo_ding_talk_user'''

In [5]:
#上海订单信息
order_df=reader(sql1)
#上还司机信息
driver_df=reader(sql2)
#上海司机补货信息
rep_df=reader(sql3)
#工作人员信息
workmate_df=reader(sql8)
##查询司机号码
driver_as_user_tel=reader(sql6)
##查询司机小号号码
driver_as_user_smalltel=reader(sql7)
#查询上海司机提成信息
commission_df=reader(sql4)
#查询上海司机奖励信息
bonus_df=reader(sql5)

In [75]:
driver_df.rename(columns={'id':'driver_id'},inplace=True)

In [235]:
order_df['订单周数']=order_df['update_date'].map(lambda x:x.isocalendar()[1])

In [236]:
#司机开单天数
kaidanweek_df=order_df.groupby(['driver_id','订单周数']).order_sn.min().reset_index().groupby('driver_id').订单周数.count()
kaidanday_df=order_df.groupby(['driver_id','update_date']).order_sn.min().reset_index().groupby('driver_id').update_date.count()
active_day_df=(kaidanday_df/kaidanweek_df).reset_index()
active_day_df.rename(columns={0:'active_day'},inplace=True)

In [237]:
active_day_df['active_day']=active_day_df.active_day.apply(lambda x:math.floor(x))

In [238]:
#司机周订单数
kaidannum_df=order_df.groupby(['driver_id']).order_sn.count()
week_order_df=(kaidannum_df/kaidanweek_df).reset_index()
week_order_df.rename(columns={0:'order_num'},inplace=True)

In [239]:
#week_order_df['order_num']=week_order_df.order_num.apply(lambda x:math.floor(x))

In [240]:
order_passeng_df=order_df[(~order_df.user_tel.isin(driver_as_user_tel.tel))\
                                &(~order_df.user_tel.isin(driver_as_user_smalltel.mobile))]

In [242]:
week_order_df['订单数区间']=pd.qcut(week_order_df.order_num,q=4)

In [307]:
#司机周派样订单数
paiyang_order_df=order_df[order_df.order_sn.isin(order_df[order_df.discount<0.3].order_sn)]
paiyangkaidannum_df=paiyang_order_df.groupby(['driver_id']).order_sn.count()
week_paiyangorder_df=kaidanweek_df.reset_index().merge(paiyangkaidannum_df.reset_index(),on='driver_id',how='left').fillna(0)
week_paiyangorder_df['派样单数']=week_paiyangorder_df.order_sn/week_pssengorder_df.订单周数

In [289]:
#week_paiyangorder_df['派样单数']=week_paiyangorder_df.派样单数.apply(lambda x:math.floor(x))

In [324]:
pd.cut(week_paiyangorder_df.派样单数,bins=[-1,0,1,4,100]).value_counts()

(-1, 0]     1095
(0, 1]       757
(1, 4]       707
(4, 100]     224
Name: 派样单数, dtype: int64

In [325]:
week_paiyangorder_df['派样单数区间']=pd.cut(week_paiyangorder_df.派样单数,bins=[-1,0,1,4,100])

In [246]:
#司机开乘客单天数
kaipassengdanday_df=order_passeng_df.groupby(['driver_id','update_date']).order_sn.min().reset_index().groupby('driver_id').update_date.count()
active_passeng_day_df=kaidanweek_df.reset_index().merge(kaipassengdanday_df.reset_index(),on='driver_id',how='left').fillna(0)
active_passeng_day_df['乘客单活跃天数']=active_passeng_day_df.update_date/active_passeng_day_df.订单周数

In [247]:
active_passeng_day_df['乘客单活跃天数']=active_passeng_day_df.乘客单活跃天数.apply(lambda x:math.floor(x))

In [326]:
#司机周乘客订单数
kaipassengdannum_df=order_passeng_df.groupby(['driver_id']).order_sn.count()
week_passengorder_df=kaidanweek_df.reset_index().merge(kaipassengdannum_df.reset_index(),on='driver_id',how='left').fillna(0)
week_passengorder_df['乘客单数']=week_passengorder_df.order_sn/week_passengorder_df.订单周数

In [249]:
#week_passengorder_df['乘客单数']=week_passengorder_df.乘客单数.apply(lambda x:math.floor(x))

In [327]:
week_passengorder_df['乘客订单数区间']=pd.qcut(week_passengorder_df.乘客单数,q=4)

In [328]:
#司机乘客购买人数
kaidanrenshu_df=order_passeng_df.groupby(['driver_id','user_id','update_date']).order_sn.min().reset_index().groupby('driver_id').user_id.count()
week_passengnum_df=kaidanweek_df.reset_index().merge(kaidanrenshu_df.reset_index(),on='driver_id',how='left').fillna(0)
week_passengnum_df['乘客人数']=week_passengnum_df.user_id/week_passengnum_df.订单周数

In [252]:
#week_passengnum_df['乘客人数']=week_passengnum_df.乘客人数.apply(lambda x:math.floor(x))

In [330]:
week_passengnum_df['乘客人数区间']=pd.qcut(week_passengnum_df.乘客人数,q=4)

In [254]:
#司机奖励金额
bonus_driver_df=bonus_df.groupby('driver_id').奖励金额.sum().reset_index()

In [255]:
#司机提成金额
commission_driver_df=commission_df.groupby('driver_id').提成金额.sum().reset_index()

In [256]:
commission_paiyang_df=commission_df[commission_df.order_sn.isin(order_df[order_df.discount<0.3].order_sn)].groupby('driver_id').提成金额.sum().reset_index()
commission_normal_df=commission_df[~commission_df.order_sn.isin(order_df[order_df.discount<0.3].order_sn)].groupby('driver_id').提成金额.sum().reset_index()

In [257]:
bonus_df=bonus_df.groupby('driver_id').奖励金额.sum().reset_index()

In [258]:
#司机收入数据
driver_income_df=kaidanweek_df.reset_index().merge(bonus_df,on='driver_id',how='left').merge(commission_normal_df,on='driver_id',how='left').merge(commission_paiyang_df,on='driver_id',how='left').fillna(0)

In [259]:
#司机补货
rep_driver_df=rep_df.groupby(['driver_id','rep_date']).rep_sn.min().reset_index().groupby('driver_id').rep_date.count().reset_index()

In [331]:
week_repnum_df=kaidanweek_df.reset_index().merge(rep_driver_df,on='driver_id',how='left').fillna(0)
week_repnum_df['补货次数']=week_repnum_df.rep_date/week_repnum_df.订单周数

In [261]:
#week_repnum_df['补货次数']=week_repnum_df.补货次数.apply(lambda x:math.floor(x))

In [344]:
week_repnum_df['补货次数区间']=pd.cut(week_repnum_df.补货次数,bins=[-1,0,0.4,3,44])

In [334]:
week_repnum_df.head()

   driver_id  订单周数  rep_date      补货次数   补货次数区间
0        558     2       4.0  2.000000   (1, 3]
1      19443     6      17.0  2.833333   (1, 3]
2      34535     6       2.0  0.333333   (0, 1]
3      37490     8      14.0  1.750000   (1, 3]
4      39087    11      44.0  4.000000  (3, 44]

In [350]:
total_info_df=driver_income_df.merge(active_day_df,on='driver_id').merge(week_order_df.iloc[:,[0,2]],on='driver_id').merge(active_passeng_day_df.iloc[:,[0,3]],on='driver_id').\
merge(week_passengorder_df.iloc[:,[0,4]],on='driver_id').merge(week_passengnum_df.iloc[:,[0,4]],on='driver_id').\
merge(week_paiyangorder_df.iloc[:,[0,4]],on='driver_id').merge(week_repnum_df.iloc[:,[0,4]],on='driver_id')

In [265]:
total_info_df.head()

,driver_id,订单周数,奖励金额,提成金额_x,提成金额_y,active_day,订单数区间,乘客单活跃天数,乘客订单数区间,乘客人数区间,派样单数区间,补货次数区间
0,558,2,15.0,4.20,1.80,1,"(0.999, 2.0]",0,"(-0.001, 1.0]","(-0.001, 1.0]","(0.999, 2.0]","(3, 44]"
1,19443,6,20.0,282.54,67.50,2,"(5.0, 185.5]",2,"(15.0, 484.0]","(14.0, 427.0]","(5.0, 185.5]","(3, 44]"
2,34535,6,0.0,481.93,0.00,4,"(5.0, 185.5]",1,"(5.0, 15.0]","(5.0, 14.0]","(5.0, 185.5]","(1, 3]"
3,37490,8,120.0,131.74,547.19,3,"(5.0, 185.5]",2,"(15.0, 484.0]","(14.0, 427.0]","(5.0, 185.5]","(3, 44]"
4,39087,11,120.0,582.25,299.44,5,"(5.0, 185.5]",2,"(15.0, 484.0]","(14.0, 427.0]","(5.0, 185.5]","(3, 44]"

In [352]:
total_info_df.insert(2,'总收入',total_info_df.奖励金额+total_info_df.提成金额_x+total_info_df.提成金额_y)

In [267]:
#活跃天数透视
total_info_df.groupby('active_day').agg({'driver_id':'count','订单周数':'sum','总收入':'sum','奖励金额':'sum','提成金额_x':'sum','提成金额_y':'sum'})

            driver_id  订单周数       总收入     奖励金额    提成金额_x    提成金额_y
active_day
1                1240  3755  24495.19  2250.23  16287.15   5957.81
2                 880  4164  49635.82  6260.20  32379.18  10996.44
3                 442  2449  50263.70  9461.52  26681.11  14121.07
4                 148   730  25268.45  5595.84  10895.71   8776.90
5                  61   280  18010.41  4006.98   7825.06   6178.37
6                  11    33   4635.34   590.28   2827.48   1217.58
7                   1     5   2384.66   125.00   1348.83    910.83

In [268]:
#活跃天数透视(乘客单)
total_info_df.groupby('乘客单活跃天数').agg({'driver_id':'count','订单周数':'sum','总收入':'sum','奖励金额':'sum','提成金额_x':'sum','提成金额_y':'sum'})

         driver_id  订单周数       总收入     奖励金额    提成金额_x    提成金额_y
乘客单活跃天数
0              957  3196  26345.84  1764.43  17643.27   6938.14
1              982  3832  42067.80  5199.20  27781.23   9087.37
2              566  3003  53038.13  9198.86  29815.59  14023.68
3              193  1008  28471.81  6773.32  12938.45   8760.04
4               66   308  15461.16  4118.48   5054.79   6287.89
5               16    54   3925.97   870.76   1286.47   1768.74
6                3    15   5382.86   365.00   3724.72   1293.14

In [353]:
#周订单数透视
total_info_df.groupby('订单数区间').agg({'driver_id':'count','订单周数':'sum','总收入':'sum','奖励金额':'sum','提成金额_x':'sum','提成金额_y':'sum'})

              driver_id  订单周数        总收入      奖励金额    提成金额_x    提成金额_y
订单数区间
(0.999, 2.0]        945  2335    9924.62    570.50   7150.90   2203.22
(2.0, 3.0]          538  2275   16481.45    962.80  12729.83   2788.82
(3.0, 5.0]          643  3201   37145.74   4350.00  25389.18   7406.56
(5.0, 185.5]        657  3605  111141.76  22406.75  52974.61  35760.40

In [354]:
#乘客订单数透视
total_info_df.groupby('乘客订单数区间').agg({'driver_id':'count','订单周数':'sum','总收入':'sum','奖励金额':'sum','提成金额_x':'sum','提成金额_y':'sum'})

                 driver_id  订单周数        总收入      奖励金额    提成金额_x    提成金额_y
乘客订单数区间
(-0.001, 0.612]        696  1965   11721.37    275.50   8319.97   3125.90
(0.612, 1.667]         717  2410   20302.90   1076.80  15339.26   3886.84
(1.667, 3.125]         676  3245   34038.61   3478.36  23999.16   6561.09
(3.125, 153.0]         694  3796  108630.69  23459.39  50586.13  34585.17

In [355]:
#乘客人数透视
total_info_df.groupby('乘客人数区间').agg({'driver_id':'count','订单周数':'sum','总收入':'sum','奖励金额':'sum','提成金额_x':'sum','提成金额_y':'sum'})

               driver_id  订单周数        总收入      奖励金额    提成金额_x    提成金额_y
乘客人数区间
(-0.001, 0.5]        707  1995   12388.11    296.30   8626.54   3465.27
(0.5, 1.5]           721  2367   21024.41   1747.93  15237.61   4038.87
(1.5, 3.0]           718  3503   37785.03   4246.92  26299.48   7238.63
(3.0, 84.0]          637  3551  103496.02  21998.90  48080.89  33416.23

In [356]:
#派样单数透视
total_info_df.groupby('派样单数区间').agg({'driver_id':'count','订单周数':'sum','总收入':'sum','奖励金额':'sum','提成金额_x':'sum','提成金额_y':'sum'})

          driver_id  订单周数       总收入      奖励金额    提成金额_x    提成金额_y
派样单数区间
(-1, 0]        1095  2712  20105.86   1851.30  18254.56      0.00
(0, 1]          757  3599  32769.73   3113.40  24651.26   5005.07
(1, 4]          707  3865  61706.47  11382.61  31540.36  18783.50
(4, 100]        224  1240  60111.51  11942.74  23798.34  24370.43

In [357]:
#补货次数透视
total_info_df.groupby('补货次数区间').agg({'driver_id':'count','订单周数':'sum','总收入':'sum','奖励金额':'sum','提成金额_x':'sum','提成金额_y':'sum'})

             driver_id  订单周数       总收入      奖励金额    提成金额_x    提成金额_y
补货次数区间
(-1.0, 0.0]       1295  3358  21495.19   1420.80  16568.41   3505.98
(0.0, 0.4]         761  4725  60032.83   9288.29  36407.29  14337.25
(0.4, 3.0]         718  3289  84370.86  16669.82  39570.73  28130.31
(3.0, 44.0]          9    44   8794.69    911.14   5698.09   2185.46